<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :project_number %><br />
    <%= f.number_field :project_number %>
  </div>
  <div class="field">
    <%= f.label :primary_contact_id %><br />
    <%= f.number_field :primary_contact_id %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_id %><br />
    <%= f.number_field :billing_contact_id %>
  </div>
  <div class="field">
    <%= f.label :letter_contact_id %><br />
    <%= f.number_field :letter_contact_id %>
  </div>
  <div class="field">
    <%= f.label :PO_per_project %><br />
    <%= f.check_box :PO_per_project %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :subdivision %><br />
    <%= f.text_field :subdivision %>
  </div>
  <div class="field">
    <%= f.label :lot %><br />
    <%= f.number_field :lot %>
  </div>
  <div class="field">
    <%= f.label :block %><br />
    <%= f.number_field :block %>
  </div>
  <div class="field">
    <%= f.label :filing %><br />
    <%= f.number_field :filing %>
  </div>
  <div class="field">
    <%= f.label :building %><br />
    <%= f.number_field :building %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.number_field :unit %>
  </div>
  <div class="field">
    <%= f.label :archived %><br />
    <%= f.check_box :archived %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
