<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shim' %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <%= render 'layouts/footer' %>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  
  </body>
</html>